<!DOCTYPE html>
<html>
  <head>
    <title>RailsMusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if flash[:error] %>
      <ul>
      <% flash[:error].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <% end %>
    <section class = "login_logout_buttons">
    <% if current_user %>
      <%= button_to "logout", session_url, method: :delete %>
    <% else %>
      <%= button_to "login to an existing account", new_session_url, method: :get %>
      <%= button_to "create an account", new_user_url, method: :get %>
    <% end %>
  </section>
    <%= yield %>
  </body>
</html>
